.contianer__sell_bike
{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.container__header__sell
{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 12px;
  flex-wrap: wrap;
  width: 960px;
}
.tools
{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.input__search
{
  display: flex;
  width: 250px;
  height: 40px;
  padding-left: 50px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background: #E8EDF2;
}
.img__search
{
  background-image: url(../../images/Vectorserach.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
}
.img__filter
{
  background-image: url(../../images/170d63575499a8047bd3606379cb48a9.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}
.input__img
{
  display: flex;
  align-items: center;
  position: relative;
}
.filer
{
  position: relative;
  display: flex;
  padding: 0px 10px;
  align-items: center;
justify-content: center;
  gap: 10px;
  border: 1px solid #111010;
  background: #0C0B0B;
}
.filer h4
{
  color: #F1E6E6;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 307.692% */
  margin-block: 0;
}
.container__sort
{
  display: flex;
  gap: 10px;
  align-items: center;
}
.select__tool
{
  display: flex;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  height: 40px;
  border: 1px solid #A3A3A3;
}
.container__sort h4
{
  color: #8C8B8B;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-block: 0;
}
.background__bike
{
  background-repeat: no-repeat;
  background-size: contain;
  width: 128px;
  height: 128px;
}
.container__bike
{
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 20px;
  width: 960px;
  border: 1px solid #000;
  background: #F7FAFC;
  justify-content: space-between;
}
.text__bike h2
{
  color: #0D141C;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.text__bike h3
{
  color: #4F7396;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.container__bike__information
{
  display: flex;
  gap: 20px;
}
.information__bike
{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.information__bike h3
{
  color: #000;
  text-align: center;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  margin-block: 0;
}
.img__basket
{
  background-image: url(../../images/free-icon-shopping-bag-295682.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 28px;
}
.button__basket
{
  display: flex;
  height: 32px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 16px;
  background: #E8EDF2;
}
.no-bikes-message
{
  color: #0D141C;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-align: center;
}
@media (max-width: 960px) {
  .container__header__sell{
    width: 768px;
  }
  .container__bike
  {
    width: 768px;
  }

}
@media (max-width: 768px) {
  .container__header__sell{
    width: 580px;
  }
  .container__bike
  {
    width: 580px;
    flex-wrap: wrap;
  }

}
@media (max-width: 580px) {
  .container__header__sell{
    width: 310px;
  }
  .container__bike
  {
    width: 310px;
  }
  .custom-filter-menu
  {
    left:20px;
  }

}

.custom-filter-menu {
  position: absolute;
  top: 60px;
  width: 250px;
  background-color: white;
  z-index: 10;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
}
.custom-filter-menu h4
{
  color: #0e0e0e;
  font-feature-settings: "dlig" on;
  font-family: "Work Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-block: 0;
}
.filter-item {
  margin-bottom: 15px;
}

.custom-select, .custom-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}

.no-bikes-message {
  text-align: center;
  font-size: 18px;
  color: #777;
}
.button__crud
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.crud__buton,
.create__buton {
  transition: all 0.3s ease;
  border: none;
  background-color: #828487;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.crud__buton:hover,
.create__buton:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crud__buton:active,
.create__buton:active {
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.create__buton {
  background-color: #0c0d19;
}

.create__buton:hover {
  background-color: #000002;
}

/* Общие стили для модального окна */
.dialog-content {
  padding: 16px;
}

.input-field {
  margin-bottom: 16px;
}

.upload-button {
  margin-top: 16px;
  display: inline-block;
}

.preview-image-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.preview-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}
.img__container {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}
.MuiInputLabel-root {
  position: absolute;
  top: 10px;
  left: 12px;
  background-color: #fff;
}
.sold-out
{
  border-color: red;
}
